@model VWorkS.Data.UsuarioManto


@Html.HiddenFor(model => model.Usuario.EstadoRegistro)
@Html.Hidden("TipoManto", (object)@ViewBag.TipoManto)
@*@if (!ViewData.ModelState.IsValid)
    {
        foreach (var state in ViewData.ModelState)
        {
            foreach (var error in state.Value.Errors)
            {
                    <p>@state.Key</p>
                    <p>@state.Value.ValidationState</p>
                    <p>@error.ErrorMessage</p>

                }
            }
    }*@
<input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
<div class="form-group row">
    <label class="col-md-4 control-label">Id</label>
    <div class="col-md-12">
        @Html.EditorFor(model => model.Usuario.IdUsuario, new { htmlAttributes = new { @class = "form-control", @readonly = "true", @type = "" } })
        @Html.ValidationMessageFor(model => model.Usuario.IdUsuario, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group row">
    <label class="col-md-4 control-label">Nombre De Usuario</label>
    <div class="col-md-12">
        @{
            string valido = "";
            if (!ViewData.ModelState.IsValid)
            {

                if (ViewData.ModelState["Usuario.NombreUsuario"].ValidationState.ToString() == "Invalid")
                    valido = "is-invalid";
                else
                    valido = "is-valid";

            }
            <input asp-for="Usuario.NombreUsuario" class="form-control @valido" />
            <span asp-validation-for="Usuario.NombreUsuario" class="invalid-feedback"></span>
        }
    </div>
</div>

<div class="form-group row">
    <label class="col-md-4 control-label">Correo Electronico</label>
    <div class="col-md-12">
        @{
            if (!ViewData.ModelState.IsValid)
            {

                if (ViewData.ModelState["Usuario.Email"].ValidationState.ToString() == "Invalid")
                    valido = "is-invalid";
                else
                    valido = "is-valid";

            }
            <input asp-for="Usuario.Email" class="form-control @valido" />
            <span asp-validation-for="Usuario.Email" class="invalid-feedback"></span>
        }
    </div>
</div>

<div class="form-group row">
    <label class="col-md-4 control-label">Fecha Nacimiento</label>
    <div class="col-md-12">
        @{
            if (!ViewData.ModelState.IsValid)
            {

                if (ViewData.ModelState["Usuario.FechaNacimiento"].ValidationState.ToString() == "Invalid")
                    valido = "is-invalid";
                else
                    valido = "is-valid";

            }
            <input asp-for="Usuario.FechaNacimiento" class="form-control @valido" />
            <span asp-validation-for="Usuario.FechaNacimiento" class="invalid-feedback"></span>
        }
    </div>
</div>

<div class="form-group">
    @if (Model.Usuario.EstadoRegistro == "A")
    {
        <div class="input-group">
            <label class="control-label" id="switch01" name="switch01">Activo</label>
            <div class="input-group-append">
                <div class="switch">
                    <label>
                        <input type="checkbox" checked id="radio_01" name="radio_01" onclick="CambiarEstado();"><span class="lever switch-col-light-green"></span>
                    </label>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="input-group">
            <label class="control-label" id="switch01" name="switch01">Inactivo</label>
            <div class="input-group-append">
                <div class="switch">
                    <label>
                        <input type="checkbox" id="radio_01" name="radio_01" onclick="CambiarEstado();"><span class="lever switch-col-light-green"></span>
                    </label>
                </div>
            </div>
        </div>
    }
</div>

